@model Kuku.Models.MeasuringSystem
@{
    ViewBag.Title = Model.MeasuringSystemName;
}
<h2>Product type @Model.MeasuringSystemName</h2>
<div>
    <dl class="dl-horizontal">
        <dt>id: </dt>
        <dd>@Model.MeasuringSystemId</dd>
        <dt>name: </dt>
        <dd>@Model.MeasuringSystemName</dd>
    </dl>
</div>