@model Kuku.Models.Product
@{
    ViewBag.Title = Model.ProductName;
}
<h2>Product @Model.ProductName</h2>
<div>
    <dl class="dl-horizontal">
        <dt>id: </dt>
        <dd>@Model.ProductId</dd>
        <dt>name: </dt>
        <dd>@Model.ProductName</dd>
        <dt>product type id:</dt>
        <dd>@Model.ProductTypeId</dd>
    </dl>
</div>