@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>Joint project of our team of developers in their free time from work.</p>
<p>We wish you a convenient search for recipes for your products and a pleasant appetite.</p>

